body {
  background-color: pink;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 400px;
  margin: 8px auto;
  background: white;
  border-radius: 5px;
  padding: 16px;
  position: relative;
}

#question {
  margin-bottom: 15px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

#choices > li {
  border: 1px solid aquamarine;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#choices > li:hover {
  background-color: #f8f8f8;
}

#choices > li.correct {
  background: lightskyblue;
  border-color: blue;
  color: pink;
  font-weight: bold;
}

#choices > li.correct::after {
  content: '...Correct!'
}

#choices > li.wrong {
  background: lightskyblue;
  border-color: red;
  color: pink;
  font-weight: bold;
}

#choices > li.wrong::after {
  content: '...Wrong!'
}

#btn, #result > a {
  background: palevioletred;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: black;
  box-shadow: 0 5px 0 #f8f8f8;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 5px 0 #bbb;
  opacity: 0.7;
}

#result{
  position: absolute;
  width: 300px;
  background: rosybrown;
  padding: 30px;
  box-shadow: 0 4px 8px greenyellow;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  transition: 0.4s;
}

#result.hidden {
  transform: translateY(-500px);
}

#result > p{
  font-size: 30px;
}

#result > a{
  display: block;
  text-decoration: none;
}